html {
	box-sizing: border-box;
}

body {
	text-align: center;
}

header,
nav,
main,
article,
footer {
	margin: 0.25rem;
	padding: 0.5rem;

	border: black solid 2px;
	border-radius: 0.5rem;
}

nav ul {
	list-style: none;

	padding: 0;
}

p {
	text-align: left;
}

footer {
	padding: 1.5rem 0;
}

@media screen and (min-width: 641px) {
	body {
		display: grid;
		grid-template-columns: 15% auto;
	}

	header,
	footer {
		grid-column: span 2;
	}
}

@media screen and (min-width: 1008px) {
	main {
		display: flex;
	}

	main > * {
		flex: 1;
	}
}